.upper {
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(0 , 0, 0, 0.1);
}
.header {
    padding: 1.5rem;
}
.title {
    margin: 0;
}
.close {
    position: absolute;
    padding: 0 5px;
    right: 5px;
    top: 5px;
    font-weight: 200;
}
.close:focus {
    outline: none;
}
.body {
    padding: 0rem 1.5rem;
}
p {
    font-size: 12px;
    color: grey;
}
.privacy {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.footer {
    padding: 1.5rem;
}
.btn {
    font-size: 14px;
    width: 120px;
}
.btn:focus {
    box-shadow: none;
}
.btn-outline-light {
    border-color: lightgrey!important;
}
.lower {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1.5rem;
}